[Unit]
Description=HTU21d Exporter

[Service]
User=nobody
EnvironmentFile=/etc/default/htu21d_exporter
ExecStart=/usr/bin/htu21d-exporter.py $OPTIONS

[Install]
WantedBy=multi-user.target
